@font-face {
    font-family: 'ZonaPro';
    src: url("../fonts/zonapro.ttf");
}

@font-face {
    font-family: 'Akrobat';
    src: url("../fonts/akrobat.ttf")
}

#main,
#header {
    background-image: linear-gradient(to right, #FFFFFF 0% 15%, #FFEA2F 15% 100%);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 3vw;
}

#menu {
    display: flex;
    justify-content: space-between;

    flex-basis: 30vw;
}

#eng,
#more {
    width: 120px;
    height: 120px;

    background-color: #CE0002;
}

.maininfo_pic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.maininfo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#h1 {
    margin-left: 3vw;
    align-self: center;

    font-family: 'ZonaPro';
    font-style: normal;
    font-size: 380%;
    text-transform: uppercase;
}

#links {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

#more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: 5vw;
}

#text {
    width: 33%;
    margin-left: 3.5vw;
}

#unicorn {
    width: 38vw;
    margin-bottom: 2%;
    margin-right: 2%;
}

.textakrobat,
.navigation {
    font-family: 'Akrobat';
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;

    background-color: #EFEFEF;
}

#eng,
#btn {
    color: #FFFFFF;
}

footer .navigation,
#footer {
    color: #7E7E7E;
}

.navigation {
    color: #000000;
}

header .navigation:first-child {
    color: #FF0000;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}